<html>
    <body>
        <form action="http://localhost:8000/marks_submission" method="post">
            <h3> Enter marks: </h3>
            <label>Name:</label> 
            <input type='text' name='nm'>
            <label>Physics:</label>
            <input type='number' name='phy'>
            <label>Chemistry:</label>
            <input type='number' name='chem'>
            <label>Mathematics:</label>
            <input type='number' name='math'><br><br>
            <center><input type='submit' value="Submit Marks"/></center>
        </form>
    </body>
</html>